openapi: 3.0.3
info:
  title: DesignBuild Mobile Seed Spec
  version: 0.1.0
  description: |
    Hand‑crafted seed of the remote API (inferred from /docs UI) to enable
    future code generation and strict typing on the client.
servers:
  - url: https://api.thietkeresort.com.vn
paths:
  /projects:
    get:
      summary: List demo projects
      tags: [Projects]
      parameters:
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
  /bids:
    post:
      summary: Create bid (firm)
      tags: [Bids]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BidCreateRequest'
      responses:
        '201': { description: Created }
        '400': { description: Validation error }
  /auth/login:
    post:
      summary: Login (guessed path)
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account, password]
              properties:
                account: { type: string }
                password: { type: string, format: password }
      responses:
        '200': { description: OK }
        '401': { description: Invalid credentials }
  /auth/register:
    post:
      summary: Register (guessed path)
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                email: { type: string, format: email }
                phone: { type: string }
                name: { type: string }
                password: { type: string, format: password }
      responses:
        '201': { description: Created }
        '400': { description: Validation error }
  /auth/me:
    get:
      summary: Current user profile (guessed path)
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        '200': { description: OK }
        '401': { description: Unauthorized }
components:
  schemas:
    BaseMeta:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
    Project:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string }
    ProjectListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Project' }
        error: { nullable: true }
        meta: { $ref: '#/components/schemas/BaseMeta' }
    BidCreateRequest:
      type: object
      required: [project_id, amount]
      properties:
        project_id: { type: string }
        amount: { type: number }
        notes: { type: string }
        currency: { type: string, default: VND }
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT